<div>
    <ul>
        <% for (const [index, dataPoint] of dataPoints.entries()) { %>
            <li> 
                <a href="/<%= dataPoint._id %>">
                    <%= dataPoint.condition %>: <%= dataPoint.xPos1 %> - <%= dataPoint.xPos2 %> 
                </a>
            </li>
        <% } %>
    </ul>
</div>