<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="./visualization.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Condition state comparison landing page</title>
</head>
<body>
    <h1>Condition state comparison</h1>